<!DOCTYPE html>
<html lang="en">
  <head>
      <% include partials/head %>
  </head>
  <body class="container">
    <body class="container">
        <div class="col-md-6 col-md-offset-3">
          <h1>Home Page</h1>
          <li>Hello, it's the home of our application. You can write the url "http://localhost:1342/hello/Sergei" to go on the page with the button and AJAX request for obtaining metrics.</li>
          <div id="home"></div>
        </div>
      </body>
  </body>
</html>